<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing your text...</title>
</head>

<body>
    <a href="/">&#8592; Back</a>
    <h1>Your analyzed text:</h1>
    <h3>Applied Operations - <i>{{purpose}}</i></h3>
    <p>
        <pre>{{analyzed_text}}</pre>  
        <!-- By default HTML removes new line and extra space, so to prevent it we use a pre tag. -->
    </p>
</body>

</html>