{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}

<div>
    <div style="padding: 3rem 7rem; background-color: #f3f7f7;">
        <h1 class="text-2xl font-semibold">About This Blog</h1>
        <p style="margin: 2rem 0;">Mano ki diary ka Blog was founded by Mano ki diary from his garage in Bellevue, Washington,[7] on July 5, 1994. Initially an
            online marketplace for books, it has expanded into a multitude of product categories: a strategy that has
            earned it the moniker The Everything Store.[8] It has multiple subsidiaries including Amazon Web Services
            (cloud computing), Zoox (autonomous vehicles), Kuiper Systems (satellite Internet), and Amazon Lab126
            (computer hardware R&D). Its other subsidiaries include Ring, Twitch, IMDb, and Whole Foods Market. Its
            acquisition of Whole Foods in August 2017 for US$13.4 billion substantially increased its footprint as a
            physical retailer.[9] <br><br>

            Amazon has earned a reputation as a disruptor of well-established industries through technological
            innovation and mass scale.[10][11][12][13] As of 2021, it is the world's largest online retailer and
            marketplace, smart speaker provider, cloud computing service through AWS,[14] live-streaming service through
            Twitch, and Internet company as measured by revenue and market share.[15] In 2021, it surpassed Walmart as
            the world's largest retailer outside of China, driven in large part by its paid subscription plan, Amazon
            Prime, which has over 200 million subscribers worldwide.[16][17] It is the second-largest private employer
            in the United States.[18]</p>
            <a style="background-color: black; color: white; padding: 7px 14px; cursor: pointer;">Learn More >></a>
    </div>
    <div style="display: flex;">
        <div style="padding: 3rem; margin-left: 4rem;">
            <h2 class="text-lg font-mono">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, debitis. Aliquid labore voluptatem dolores vero, mollitia, est veniam voluptate, rerum laudantium placeat libero doloribus id accusantium. Nulla, quis aperiam asperiores modi eaque dolor aliquid iste alias unde perferendis repudiandae ut eveniet consequuntur eos, pariatur sunt tenetur autem error obcaecati ab?</p>
        </div>
        <div style="padding: 3rem;">
            <h2 class="text-lg font-mono">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, debitis. Aliquid labore voluptatem dolores vero, mollitia, est veniam voluptate, rerum laudantium placeat libero doloribus id accusantium. Nulla, quis aperiam asperiores modi eaque dolor aliquid iste alias unde perferendis repudiandae ut eveniet consequuntur eos, pariatur sunt tenetur autem error obcaecati ab?</p>
        </div>
        <div style="padding: 3rem;">
            <h2 class="text-lg font-mono">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, debitis. Aliquid labore voluptatem dolores vero, mollitia, est veniam voluptate, rerum laudantium placeat libero doloribus id accusantium. Nulla, quis aperiam asperiores modi eaque dolor aliquid iste alias unde perferendis repudiandae ut eveniet consequuntur eos, pariatur sunt tenetur autem error obcaecati ab?</p>
        </div>
        
    </div>
</div>


{% endblock body %}