{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}


<h1 class="ml-20 mt-16 text-2xl font-mono font-bold">iCoder Contact</h1>
<form method="post" action="/contact/" class="flex flex-col mt-4 ml-20 p-10 space-y-6 w-[60%] border-2 shadow-xl border-gray-200"> {% csrf_token %}
    <div class="flex space-x-5">
        <input id="name" name="name" type="text" placeholder="Name" class="w-[40%] outline-gray-400">
        <input id="email" type="email" name="email" placeholder="Email" class="w-[35%] outline-gray-400">
        <input id="phone" type="text" name="phone" placeholder="Phone number" class="w-[25%] outline-gray-400">
    </div>
    <textarea id="content" name="content" cols="30" rows="7" class="outline-gray-400 p-2" placeholder="Write your message here..."></textarea>
    <button type="submit" class="text-left bg-gray-800 border-2 border-black text-white hover:bg-gray-700 hover:border-gray-600 focus:bg-black px-5 py-1.5 w-fit">SUBMIT</button>
</form>

{% endblock body %}