<div class="flex p-7 justify-between">
    <div class="bg-sky-400 w-[30%] h-32 text-white font-mono font-semibold text-xl text-center rounded-lg">
        <h1>Total Orders</h1>
        <hr>
        <p class="text-3xl pt-3">{{total_orders}}</p>
    </div>
    <div class="bg-sky-300 w-[30%] h-32 text-white font-mono font-semibold text-xl text-center rounded-lg">
        <h1>Orders Delivered</h1>
        <hr>
        <p class="text-3xl pt-3">{{delivered}}</>
        
    </div>
    <div class="bg-lime-300 w-[30%] h-32 text-white font-mono font-semibold text-xl text-center rounded-lg">
        <h1>Orders Pending</h1>
        <hr>
        <p class="text-3xl pt-3">{{pending}}</>
    </div>
</div>