<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <script>  
        window.location = "/shop" // Jaise hi koi / wale page pe aaye, vo automatically /shop pe redirect ho jae.
    </script>
</head>
<body style="font-family: cursive;">
    <div style="padding: 2rem 1rem; background-color: #f3f7f7;">
        <h1>Welcome To My Website</h1>
        <p style="color: #777;">This page was made in 52nd Video of Code With Harry, This site consists two apps, Shop And Blog...</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur praesentium dolorum reprehenderit pariatur necessitatibus temporibus!</p>
        <div>
            <a href="/shop" style="background-color: black; color: white; padding: 7px 14px; cursor: pointer; text-decoration: none;">Go To Shop</a>
            <a href="/blog" style="background-color: black; color: white; padding: 7px 14px; cursor: pointer; text-decoration: none;">Go To Blog</a>
        </div>
    </div>

</body>
</html>